.container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: relative;

    .flex {
        display: flex;
    }

    .bottleActive {
        width: 160px;
        margin-right: 70px;
    }

    .bottle {
        margin-right: 70px;
    }
}

