.button {
    max-width: 200px;
    height: 40px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #369CB7;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.underline {
    text-decoration-line: underline;
}

.border {
    border: 1px solid #369CB7;
    box-sizing: border-box;
    border-radius: 5px;
}

.submit {
    background: #369CB7;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
}